.button {
  cursor: pointer;
  &.__linear {
    padding: 13px 18px;
    border-radius: 30px;
    border: none;
    background: rgb(147, 86, 220);
    color: white;
    background: linear-gradient(
      0deg,
      rgba(147, 86, 220, 1) 0%,
      rgba(255, 121, 218, 1) 100%
    );

    margin: 0 auto 30px auto;
    box-shadow: 0px 4px 10px 0px #00000040;
    transition: 500ms;
  }
  /** Enlightenment **/
  &.__linear:hover {
    opacity: 0.8;
    transition: 500ms;
  }
  &.__new {
    background-color: $tertiary--color;
    color: $tertiary--color-D1;
    position: absolute;
    top:  15px;
    right: 15px;
    padding: 7px 9px;
    border-radius: 2px;
  }
}
