@font-face {
    font-family: Shrikhand;
    src: url(../../assets/files/googleFont/Shrikhand-Regular.ttf);
    font-weight: normal;
}

@font-face {
    font-family: Roboto;
    src: url(../../assets/files/googleFont/Roboto-Regular.ttf);
}