$primary--color: #9356DC;
$secondary--color: #FF79DA;
$tertiary--color: #99E2D0;

$tertiary--color-D1: #008766;

$grey_D1: #353535;
$grey: #EAEAEA;
$grey-L1: #F6F6F6;

$desktop-breakpoint: 1200px;
$tablet-breakpoint: 1000px;
$phone-breakpoint: 576px;
$xxsPhone-breakpoint: 400px;